aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-left: 1.4rem;
}
aside .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
aside .close {
    display: none;
}
.top .logo img {
    width: 2.5rem;
    height: 2.5rem;
} 
.top .logo h2 {
    font-size: 1rem;
    color: var(--bright);
}
.top .logo h2 .cold {
    color: var(--sweet);
}