.sidebar a span {
    display: flex;
    width: 100%;
    align-items: center;
    color: var(--dark-ash-text);
    gap: 0.8rem;
    position: relative;
    height: 5rem;
    transition: 0.2s ease;
  }
  aside .sidebar a .i {
    font-size: 1.3rem;
    margin-right: 0.2rem;
    margin-left: 3.5rem;
    transition: 0.2s ease;
  }
  aside .sidebar a.active span {
    background: var(--background-dark-medium);
    margin-left: 0;
  }
  aside .sidebar a.active span .i {
    margin-left: calc(2.3rem - 3px);
  }
  aside .sidebar a.active span::before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--dark-ash-text);
  }
  
  aside .sidebar a span:hover .i {
    margin-left: 2.5rem;
  }
  aside .sidebar a.active span:hover .i {
    margin-left: 0.9rem;
  }